In [1]:
# import the libraries
import pandas as pd
import numpy as np
import sklearn
import matplotlib
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv('train.csv', parse_dates=['date'])
test = pd.read_csv('test.csv', parse_dates=['date'])

In [3]:
train.head()

,ID,area,date,lat,lon,burn_area,climate_aet,climate_def,climate_pdsi,climate_pet,...,landcover_1,landcover_2,landcover_3,landcover_4,landcover_5,landcover_6,landcover_7,landcover_8,population_density,precipitation
0,0_2000-04-01,0,2000-04-01,25.447,5.296,0.003688,1250.622712,0.0,-178.916305,1250.622712,...,0.0,0.350169,0.0,0.649524,0.0,0.000307,0.0,0.0,2.214262,0.198996
1,1_2000-04-01,1,2000-04-01,25.669,5.293,0.000000,1238.019166,0.0,-150.779947,1238.019166,...,0.0,0.429049,0.0,0.570644,0.0,0.000307,0.0,0.0,3.833042,0.188071
2,2_2000-04-01,2,2000-04-01,25.443,5.074,0.000000,1240.449964,0.0,-200.503858,1240.449964,...,0.0,0.238300,0.0,0.761700,0.0,0.000000,0.0,0.0,1.927303,0.211730
3,3_2000-04-01,3,2000-04-01,25.665,5.070,0.000000,1229.240077,0.0,-177.011032,1229.240077,...,0.0,0.488146,0.0,0.511854,0.0,0.000000,0.0,0.0,1.878281,0.215403
4,4_2000-04-01,4,2000-04-01,25.886,5.067,0.000307,1224.093679,0.0,-153.256111,1224.093679,...,0.0,0.322243,0.0,0.677757,0.0,0.000000,0.0,0.0,1.968818,0.199975

In [4]:
train.isnull().sum()

ID                        0
area                      0
date                      0
lat                       0
lon                       0
burn_area                 0
climate_aet               0
climate_def               0
climate_pdsi              0
climate_pet               0
climate_pr                0
climate_ro                0
climate_soil              0
climate_srad              0
climate_swe               0
climate_tmmn              0
climate_tmmx              0
climate_vap               0
climate_vpd               0
climate_vs                0
elevation                 0
landcover_0               0
landcover_1               0
landcover_2               0
landcover_3               0
landcover_4               0
landcover_5               0
landcover_6               0
landcover_7               0
landcover_8               0
population_density    19516
precipitation             0
dtype: int64

In [5]:
train['population_density'].describe()

count    607128.000000
mean         30.022468
std         175.864136
min           0.000000
25%           8.140170
50%          14.146377
75%          26.957529
max        9514.004270
Name: population_density, dtype: float64

In [6]:
train['population_density'] = train['population_density'].fillna(train['population_density'].median())

In [7]:
train['population_density'].isnull().sum()

0

### FEATURE ENGINEERING

In [8]:
train.head()

,ID,area,date,lat,lon,burn_area,climate_aet,climate_def,climate_pdsi,climate_pet,...,landcover_1,landcover_2,landcover_3,landcover_4,landcover_5,landcover_6,landcover_7,landcover_8,population_density,precipitation
0,0_2000-04-01,0,2000-04-01,25.447,5.296,0.003688,1250.622712,0.0,-178.916305,1250.622712,...,0.0,0.350169,0.0,0.649524,0.0,0.000307,0.0,0.0,2.214262,0.198996
1,1_2000-04-01,1,2000-04-01,25.669,5.293,0.000000,1238.019166,0.0,-150.779947,1238.019166,...,0.0,0.429049,0.0,0.570644,0.0,0.000307,0.0,0.0,3.833042,0.188071
2,2_2000-04-01,2,2000-04-01,25.443,5.074,0.000000,1240.449964,0.0,-200.503858,1240.449964,...,0.0,0.238300,0.0,0.761700,0.0,0.000000,0.0,0.0,1.927303,0.211730
3,3_2000-04-01,3,2000-04-01,25.665,5.070,0.000000,1229.240077,0.0,-177.011032,1229.240077,...,0.0,0.488146,0.0,0.511854,0.0,0.000000,0.0,0.0,1.878281,0.215403
4,4_2000-04-01,4,2000-04-01,25.886,5.067,0.000307,1224.093679,0.0,-153.256111,1224.093679,...,0.0,0.322243,0.0,0.677757,0.0,0.000000,0.0,0.0,1.968818,0.199975

In [9]:
train['month'] = train.date.dt.month

In [10]:
train['year'] = train.date.dt.year

In [11]:
train.head()

,ID,area,date,lat,lon,burn_area,climate_aet,climate_def,climate_pdsi,climate_pet,...,landcover_3,landcover_4,landcover_5,landcover_6,landcover_7,landcover_8,population_density,precipitation,month,year
0,0_2000-04-01,0,2000-04-01,25.447,5.296,0.003688,1250.622712,0.0,-178.916305,1250.622712,...,0.0,0.649524,0.0,0.000307,0.0,0.0,2.214262,0.198996,4,2000
1,1_2000-04-01,1,2000-04-01,25.669,5.293,0.000000,1238.019166,0.0,-150.779947,1238.019166,...,0.0,0.570644,0.0,0.000307,0.0,0.0,3.833042,0.188071,4,2000
2,2_2000-04-01,2,2000-04-01,25.443,5.074,0.000000,1240.449964,0.0,-200.503858,1240.449964,...,0.0,0.761700,0.0,0.000000,0.0,0.0,1.927303,0.211730,4,2000
3,3_2000-04-01,3,2000-04-01,25.665,5.070,0.000000,1229.240077,0.0,-177.011032,1229.240077,...,0.0,0.511854,0.0,0.000000,0.0,0.0,1.878281,0.215403,4,2000
4,4_2000-04-01,4,2000-04-01,25.886,5.067,0.000307,1224.093679,0.0,-153.256111,1224.093679,...,0.0,0.677757,0.0,0.000000,0.0,0.0,1.968818,0.199975,4,2000

In [12]:
test.isnull().sum()

ID                       0
area                     0
date                     0
lat                      0
lon                      0
burn_area                0
climate_aet              0
climate_def              0
climate_pdsi             0
climate_pet              0
climate_pr               0
climate_ro               0
climate_soil             0
climate_srad             0
climate_swe              0
climate_tmmn             0
climate_tmmx             0
climate_vap              0
climate_vpd              0
climate_vs               0
elevation                0
landcover_0              0
landcover_1              0
landcover_2              0
landcover_3              0
landcover_4              0
landcover_5              0
landcover_6              0
landcover_7              0
landcover_8              0
population_density    4284
precipitation            0
dtype: int64

In [13]:
test['population_density'] = test['population_density'].fillna(test['population_density'].median())

In [14]:
test.isnull().sum()

ID                    0
area                  0
date                  0
lat                   0
lon                   0
burn_area             0
climate_aet           0
climate_def           0
climate_pdsi          0
climate_pet           0
climate_pr            0
climate_ro            0
climate_soil          0
climate_srad          0
climate_swe           0
climate_tmmn          0
climate_tmmx          0
climate_vap           0
climate_vpd           0
climate_vs            0
elevation             0
landcover_0           0
landcover_1           0
landcover_2           0
landcover_3           0
landcover_4           0
landcover_5           0
landcover_6           0
landcover_7           0
landcover_8           0
population_density    0
precipitation         0
dtype: int64

In [15]:
test['month'] = test.date.dt.month
test['year'] = test.date.dt.month

In [16]:
train['dry_and_windy'] = (1/train['climate_soil'])*train['climate_vs']
train['hot_and_dry'] = train['climate_srad'] *(1/train['climate_soil'])
train['low_pres_and_rain_def'] = train['climate_def'] *(1/train['climate_vap'])
train['pres_def_and_windy'] = (1/train['climate_aet'])*train['climate_vs']

test['dry_and_windy'] = (1/test['climate_soil'])*test['climate_vs']
test['hot_and_dry'] = test['climate_srad'] *(1/test['climate_soil'])
test['low_pres_and_rain_def'] = test['climate_def'] *(1/test['climate_vap'])
test['pres_def_and_windy'] = (1/test['climate_aet'])*test['climate_vs']

In [17]:
train.shape

(626644, 38)

In [18]:
test.shape

(137556, 38)

In [19]:
train.drop(columns=['ID', 'area', 'date'], inplace=True)

In [20]:
train.head()

,lat,lon,burn_area,climate_aet,climate_def,climate_pdsi,climate_pet,climate_pr,climate_ro,climate_soil,...,landcover_7,landcover_8,population_density,precipitation,month,year,dry_and_windy,hot_and_dry,low_pres_and_rain_def,pres_def_and_windy
0,25.447,5.296,0.003688,1250.622712,0.0,-178.916305,1250.622712,158.387765,8.000000,498.913776,...,0.0,0.0,2.214262,0.198996,4,2000,0.260215,4.296193,0.0,0.103808
1,25.669,5.293,0.000000,1238.019166,0.0,-150.779947,1238.019166,164.645065,8.104576,590.346191,...,0.0,0.0,3.833042,0.188071,4,2000,0.219314,3.611870,0.0,0.104579
2,25.443,5.074,0.000000,1240.449964,0.0,-200.503858,1240.449964,163.699542,8.027851,536.613938,...,0.0,0.0,1.927303,0.211730,4,2000,0.237695,3.987285,0.0,0.102826
3,25.665,5.070,0.000000,1229.240077,0.0,-177.011032,1229.240077,172.996043,8.820002,648.271615,...,0.0,0.0,1.878281,0.215403,4,2000,0.203160,3.278266,0.0,0.107142
4,25.886,5.067,0.000307,1224.093679,0.0,-153.256111,1224.093679,178.396749,9.000000,719.423119,...,0.0,0.0,1.968818,0.199975,4,2000,0.185364,2.939452,0.0,0.108942

In [21]:
test.drop(columns=['ID', 'area', 'date'], inplace=True)

In [22]:
test.shape

(137556, 35)

In [23]:
# Extract the X and y
X = train.drop('burn_area', axis=1)
y = train['burn_area']

In [24]:
# Extract NumPy arrays
X = X.values
y = y.values

In [25]:
# Split the data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2505, test_size=.5)

In [26]:
# preprocess the data
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler().fit(X_train)

In [27]:
# transform the data with the scaler
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [28]:
from sklearn.neural_network import MLPRegressor
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [29]:
X_train_scaled.shape

(313322, 34)

#### Lets see the features that are useful

In [30]:
# Feature selection
from sklearn.feature_selection import SelectFromModel
select = SelectFromModel(RandomForestRegressor(n_estimators=10, random_state=42), threshold='median')

In [31]:
select.fit(X_train_scaled, y_train)

SelectFromModel(estimator=RandomForestRegressor(bootstrap=True, ccp_alpha=0.0,
                                                criterion='mse', max_depth=None,
                                                max_features='auto',
                                                max_leaf_nodes=None,
                                                max_samples=None,
                                                min_impurity_decrease=0.0,
                                                min_impurity_split=None,
                                                min_samples_leaf=1,
                                                min_samples_split=2,
                                                min_weight_fraction_leaf=0.0,
                                                n_estimators=10, n_jobs=None,
                                                oob_score=False,
                                                random_state=42, verbose=0,
                                                warm_start=False),
                max_features=None, norm_order=1, prefit=False,
                threshold='median')

In [33]:
X_train_scaled_1 = select.transform(X_train_scaled)
X_test_scaled_1 = select.transform(X_test_scaled)

In [34]:
forest = RandomForestRegressor().fit(X_train_scaled_1, y_train)

In [35]:
forest.score(X_test_scaled_1, y_test)  # R2 score

0.8176054380949971

In [36]:
# Print the rmse score
from sklearn.metrics import mean_squared_error
y_pred = forest.predict(X_test_scaled_1)
print ("rmse on test is %f " %(np.sqrt(mean_squared_error(y_test,y_pred))))

rmse on test is 0.026375

In [37]:
# Let's engineer the features of the test set also
test.shape

(137556, 35)

In [38]:
# extract the features
X = test.drop('burn_area', axis=1)

In [39]:
# scale test set
test_set = X.values
test_set = scaler.transform(test_set)

In [40]:
test = select.transform(test_set)

In [64]:
pred = forest.predict(test)

In [68]:
# Submission file
sample = pd.read_csv('SampleSubmission.csv')
test_data = pd.read_csv('test.csv')

sub = pd.DataFrame()
sub['ID'] = test_data['ID']
sub['Prediction'] = pred

In [69]:
sub.to_csv('Solution.csv')

In [70]:
sub

                     ID  Prediction
0          0_2014-01-01    0.164551
1          1_2014-01-01    0.183859
2          2_2014-01-01    0.223394
3          3_2014-01-01    0.245902
4          4_2014-01-01    0.212868
...                 ...         ...
137551  3816_2016-12-01    0.000169
137552  3817_2016-12-01    0.000170
137553  3818_2016-12-01    0.000385
137554  3819_2016-12-01    0.000021
137555  3820_2016-12-01    0.000026

[137556 rows x 2 columns]